*{
    margin:0;
    padding: 0;
}

body{ 
	height: 90vh; width:90vw;
	background-image: url(2.png);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover; 
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
   }
.score{
	position: relative;
	top: 10%;
	left: 5%;
	font-size: 20px;
}
.container{
	display:flex;
	justify-content: center;
	position: relative;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#grid{
	width:70vmin;
	height:70vmin;
	display: grid;
	grid-template-columns:repeat(4,1fr);
	grid-template-rows: repeat(4,1fr);
	grid-gap:none;
}

.popup .overlay{
    position:fixed;
    top:-200px;
    left:0px;
    width:100vw;
    height:120vh;
    background:rgba(0,0,0,0.7);
    z-index: 1;
    display:none;
}
.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    background: #fff;
    width: 100vmin;
    height: 70vmin;
    z-index:2;
    text-align: center;
    padding:20px;
    box-sizing:border-box;
}
.popup .close-btn{
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background: orange;
    color:#000;
    font-size: 25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
    cursor: pointer;
}
.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transition:all 300ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);
}
gif{
    position: relative;
    top: -10%;
}
.content h1 {
    font-family: shrikhand;
    font-size: 70px;
    letter-spacing: 3px;
    color: yellow;
    margin: 0;
    -webkit-text-stroke: 2px orangered;
    line-height: 79px;
}
.btnTryAgain{
    width:60vmin;
    font-size: 40px;
    margin: 0;
    /*margin-top:30%;*/
    font-family: Courgette;
    color: #000;
    background-color: orange;
    border-radius: 20px;
}
.content a{
    text-decoration: none;
    color: #000;
}
.content a:hover{ 
    text-decoration: none; 
    color:yellow; 
}
